<!-- About Start -->
<style type="text/css">
    .whole-page {
        height: 70vh;
    }
</style>
<section class="section bg-white whole-page">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-12">
            	<p><span class="text-custom">Covid donate</span> is a platform built to help hospitals acquire what they need to provide a better treatment to their covid 19 patients.</p>
            	<p>If you are willing and able to help these hospitals, please don't hesitate. Some of these hospitals needs are:-</p>
            	<ul class="text-custom">
            		<li>Protective gear (face masks, gowns)</li>
            		<li>Hydro-alcohol gel</li>
            		<li>Face masks</li>
            		<li>Staff</li>
            	</ul>
            </div>
        </div>
    </div>
</section>