    <!-- Contact Start -->
    <section class="section bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <div class="titles">
                            <h4 class="title text-uppercase mb-4 pb-4">Contact Us</h4>
                            <span></span>
                        </div>
                        <p class="text-muted mx-auto para-desc mb-0">For any inquiries, please drop a message and we shall get back to you as early as possible.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="custom-form mb-sm-30">
                        <div id="message"></div>
                        <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <input name="name" id="name" type="text" class="form-control border rounded" placeholder="First Name :">
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <input name="email" id="email" type="email" class="form-control border rounded" placeholder="Your email :">
                                    </div> 
                                </div><!--end col-->
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input name="subject" id="subject" class="form-control border rounded" placeholder="Your subject :">
                                    </div>                                                                               
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="form-group">
                                <textarea name="comments" id="comments" rows="4" class="form-control border rounded" placeholder="Your Message :"></textarea>
                            </div><!--end col-->
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <input type="submit" id="submit" name="send" class="submitBnt btn btn-pill btn-custom" value="Send Message">
                                    <div id="simple-msg"></div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </form><!--end form-->
                    </div><!--end custom-form-->
                </div><!--end col-->
                <div class="col-sm-6">
                    <div class="contact-detail text-left">
                        <span class="icon">
                            <i class="mdi mdi-map-marker text-custom"></i>
                        </span>
                        <span class="text-muted">Buea, Molyko, South-West Region, Cameroon</span>
                        <a href="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" class="video-play-icon pl-2 text-custom">View on Google map</a>
                    </div>
                    <div class="contact-detail text-left">
                        <span class="icon">
                            <i class="mdi mdi-phone text-custom"></i>
                        </span>
                        <a href="tel:+152534-468-854" class="pl-2 text-muted">+237 680-053-020</a>
                    </div>
                    <div class="contact-detail text-left">
                        <span class="icon">
                            <i class="mdi mdi-email text-custom"></i>
                        </span>
                        <a href="mailto:mesmervoufo@gmail.com" class="pl-2 text-muted">mesmervoufo@gmail.com</a>
                    </div>
                </div>
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- Contact End -->